Authlib==1.4.1
bcrypt==4.2.1
Flask
Flask-SocketIO
Flask-Admin==1.6.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
gunicorn
eventlet
nltk==3.8.1
numpy==1.24.3
Flask==2.3.2
requests==2.32.3
SQLAlchemy==2.0.37
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
